#Q1

Database is a collection of elements or records in the form of rows and columns.      
SQL is Structured Query Language and it contains relational databases. NoSQL is Not Only SQL and it contains non relational databases.

#Q2

DDL refers to Data Definition Languauge. It contains SQL commands to perform operations on a database.        
Create: Creates a new database or a table.       
Drop: Used to drop an entire column from a database.      
Alter: Used to alter the contents of a database column.       
Truncate: Used to delete a database table.

#Q3

DML refers to Data Manipulation Languauge and it consists of SQL commands to change contents of a database.      
Insert: Inserts a new value at specified location.       
Update: Updates the existing value of a database with a new value.          
Delete: Deletes the value from the database.

#Q4

DQL refers to Data Query Language used to perform query operations on a database.          
Select | * : It is used to display the selected columns from the database or the entire database.

#Q5

Primary Key: It is an unique element in a database table which is used to identify the table.           
Foreign key: It is an element in the database table which refers to the primary key of another table.

#Q6

In [ ]:
import mysql.connector

db_1 = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password= "password"
)

cursor=db1.cursor()
cursor.execute("select * from db.table")

cursor(): it creates a pointer to the database to perform operations.        
execute(): It executes the specified operations or queries with the help of a cursor.

#Q7

Order of execution of clauses:       
from        
where          
group by           
having            
select          
order by             
limit