In [8]:
import pandas as pd

In [11]:
##Q1

l1=[4, 8, 15, 16, 23, 42]
Series=pd.Series(l1)
print(Series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [12]:
##Q2

l2=[1,2,3,4,5,6,7,8,9,10]
s1=pd.Series(l2)
print(s1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [17]:
##Q3

data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4**

A Dataframe is a two dimensional array having rows and columns.      
A dataframe is a two dimensional array whereas a series is a single dimensional array. A dataframe has multiple rows and columns whereas series has only a single column. A dataframe has multiple series.

In [31]:
##eg
print(s1.shape)
print(df.shape)

##  Here Series(s1) - is a single dimensional array and Dataframe(df) is a 2 dimensional array

(10,)
(3, 3)

**Q5**     

Some common functions of data manipulation in pandas dataframe are:     
df.head(), df.tail(), df.describe(), df.shape, df.dtypes, df.count(), df.unique(), df.groupby(),etc     
We can use these functions while dealing with a data for the purpose of Data Analytics.

**Q6**    

The Dataframe, series and panel all are value mutable but not size mutable. Their sizes cannot be changed with the previous elements.

**Q7**  

A dataframe is combination of multiple series. We define 3 series here and convert it to dataframe.

In [38]:
##eg
a=['Tom','Alice','Jane']
b=[100,101,102]
c=['Male','Male','Female']
s01=pd.Series(a)
s02=pd.Series(b)
s03=pd.Series(c)

data=[s01,s02,s03]

df=pd.DataFrame(data)
df

      0      1       2
0   Tom  Alice    Jane
1   100    101     102
2  Male   Male  Female